<h2>Members:</h2>

<ul>
   <li *ngFor="let m of (members | async)">{{m.name}} <button mat-button color="accent" (click)="showDetailMember(m)">Show detail</button></li>
</ul>


<p *ngIf="chosenMember">You have chosen {{chosenMember.name}}</p>
<app-member-detail *ngIf="selectedMember" [member]="selectedMember" (chooseMember)="onChooseMember($event)"></app-member-detail>

<button mat-raised-button color="primary" (click)="addMember()">Add a member</button>
<button mat-raised-button color="primary" (click)="updateMember()">Update a member</button>
<button mat-raised-button color="primary" (click)="deleteMember()">Delete a member</button>