<div class="containertest">
    <div class="containerLogin">
        <h2 class="headerLogin">
            <fa-icon class="icon" [icon]="faKey"></fa-icon>Register
        </h2>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
            [mustMatch]="['password', 'confirmPassword']" novalidate>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Username" type="text" name="username"
                        [(ngModel)]="model.username" #username="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                </mat-form-field>
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                    <div class="warning" *ngIf="username.errors.required">
                        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon> Username is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Email-adress" type="email" name="email"
                        [(ngModel)]="model.email" #email="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
                </mat-form-field>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div class="warning" *ngIf="email.errors.required">
                        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon> Email-adress is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" name="password"
                        [(ngModel)]="model.password" #password="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                </mat-form-field>
                <div class="warning" *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div class="warning" *ngIf="password.errors.required">
                        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>Password is required.
                    </div>
                    <div class="warning" *ngIf="password.errors.minlength">
                        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>Password must be at least 6
                        characters.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Confirm password" type="password"
                        name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
                </mat-form-field>
                <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                    <div class="warning" *ngIf="confirmPassword.errors.required">
                        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>Please confirm your password.
                    </div>
                    <div class="warning" *ngIf="confirmPassword.errors.mustMatch">
                        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>Passwords do not match.
                    </div>
                </div>
                <div class="warning" *ngIf="takenUsername">
                    <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>Username already in use.
                </div>
                <div class="warning" *ngIf="takenEmail">
                    <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>Email already in use.
                </div>
            </div>
            <p><button mat-raised-button class="buttonLogin" color="primary" type="submit"
                    [disabled]="submitted">Register</button></p>
        </form>
    </div>
</div>