.containerLogin {
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 30%;
    display: inline-block;
    box-shadow: black 2px 2px 2px;
}

mat-form-field{
    width: 100%;
}

.buttonLogin {
    width: 100%;
}

.icon {
    padding-right: 10px;
}

.headerLogin {
    text-align: center;
}

.containertest {
    background-image: url("src/assets/wallpaper3.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2  {
    font-size: 24px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}