.col {
    padding: 0
}

.card {
    height: 100%;
}

.badge {
    margin-left: 10px;
}

.list-group-item {
    border: none !important;
    width: 100% !important;
}

.addUserForm {
    margin-top: 5px;
}

.col-10 {
    max-width: 100%;
}

button {
    width: 100%;
}

.anwserButtons {
    text-align: center;
    width: 50px;
    margin-left: 10px !important;
    padding: 0;
}

.requestsRow {
    width: 100%;
}

.friendRequests {
    overflow-y: auto;
}

.friendIcon {
    color: #007bff;
    padding-right: 10px;
}