<div class="containerDashboard">
  <div class="row">
    <div class="col">
      <div class="card cardLeft">
          <app-friends></app-friends>
      </div>
      <div class="card cardLeft">
        <div class="card-body">
            <form #logoutForm="ngForm" (ngSubmit)="logout()" name="logoutForm" #f="ngForm">
                <p><button mat-raised-button class="buttonLogin" color="primary" type="submit">Logout</button></p>
              </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card cardRight">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
