.containerDashboard {
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

.main {
    margin: 20px !important;
}

.card {
    padding: none;
}

.cardsLeft {
    height: 600px;
}

.cardRight {
    height: 600px;
}

.info, .friends {
    height: 295px;
}

app-friends, app-info {
    width: 100%;
    height: 100%;
}
.friends {
    margin-bottom: 10px;
}

.colRight {
    padding-right: 0px !important;
}