<div class="mainContainer">
    <h1 class="bg-primary">{{chosenPoll.name}}</h1>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item answerOption" *ngFor="let a of chosenPoll.answers">
                    <div *ngIf="alreadyVoted" class="behindDiv" [style.width.%]="calcPercentage(a.votes.length)">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                {{a.text}}
                            </div>
                            <div class="row">
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ participants[v.userID] }}"
                                *ngFor="let v of a.votes">
                                    <div *ngIf="alreadyVoted" class="numberCircle">{{ participantsChar[v.userID] }}</div>
                                </span>
                            </div>
                        </div>
                            <div class="col-2 buttonCol">
                                <button *ngIf="!alreadyVoted; else percentage" [disabled]="submitted" type="button"
                                    data-target="#exampleModal" data-toggle="modal" class="btn btn-primary"
                                    (click)="vote(a.answerID)">Vote!</button>
                            </div>
                            <ng-template #percentage>
                                <h3 class="text-dark">
                                    {{calcPercentage(a.votes.length)}} %
                                </h3>
                            </ng-template>
                        </div>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <div class="card pollInfo">
                <ul class="list-group list-group-flush">
                    <div *ngFor="let p of chosenPoll.participants" class="font-weight-bold">
                        <p *ngIf="p.user.userID == chosenPoll.creatorID">Created by: {{p.user.username}}</p>
                    </div>
                    <div *ngFor="let p of chosenPoll.participants">
                        <p *ngIf="p.user.userID != chosenPoll.creatorID">{{p.user.username}}</p>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>