@font-face {
    font-family: lato;
    src: url(/src/assets/Roboto-Black.ttf) format("opentype");
  }
.logo {
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 85%;
    max-height: 85%;
}

mat-sidenav {
    width: 15%;
    overflow: hidden;
}