.col {
    padding: 0
}

.card {
    height: 100%;
    width: 100% !important;
}

.badge {
    margin-left: 10px;
}

.list-group-item {
    border: none !important;
    width: 100% !important;
}

.col-10 {
    max-width: 100%;
}

button {
    width: 100%;
}

#logout {
    width: 100%;
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
}

.card-body {
    padding-top: 25px;
}

.icon {
    color: #007bff;
}

.colIcon {
    margin: auto;
    text-align-last: center;
    margin-bottom: 25px;
}