/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-sidenav-container {
    height: 100vh;
}


* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
}

.warning {
    padding: 10px;
    background: #f8d7da;
    border: #f5c6cb 2px solid;
    border-radius: 3px;
    color: #721c24;;
}

.invalid-feedback {
    display: block !important;
}

hr {
    margin-top: 2px !important; 
    margin-bottom: 2px !important;
}